.container_card{
    display: flex;
}

.fondo_All{
    background-image: url("https://imgmedia.larepublica.pe/640x371/larepublica/migration/images/MZHSIXMBGBGPPMUO7NGG4ZVB2A.webp");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}