.container_card{
    display: flex;
}

.fondo_All{
    background-image: url("https://portal.andina.pe/EDPfotografia2/Thumbnail/2009/08/28/000104312W.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}